
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00b4d8, #0077b6);
  color: #333;
  background-image: url('fundocadastro.png');
}
h1 {
  color: #0077b6;
  font-size: 1.5em;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  text-align: left;
  font-weight: 600;
  margin-top: 10px;
  color: #0077b6;
}
input {
  padding: 10px;
  margin-top: 5px;
  border: 1.5px solid #00b4d8;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
input:focus{
  border-color: #0077b6;
  box-shadow: 0 0 5px rgba(0, 183, 255, 0.4);
}

input::placeholder {
  color: #aaa;
}
.cadastro {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  padding: 35px 25px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}
.botoess {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.botoess button {
  background-color: #00b4d8;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  min-width: 100px;
}
.botoess button:hover {
  background-color: #0077b6;
  transform: scale(1.05);
}
 .botoess {
    flex-direction: column;
    gap: 10px;
  }

  .botoess button {
    width: 100%;
  }
 
